@charset "utf-8";
/* josh barron 4/9/18 */

	.center {text-align: center;}

	
	
	h1.title {color: darkblue;
				border-top-style: solid;
				border-bottom-style: solid;
				font-weight: bold;
				font-size: 3em;
				text-align: center;}
	
	h2 {color: darkblue;
		font-size: 2em;
		text-decoration: overline underline;
		text-align: center;}
	
	body {background-color: lightblue;}

	p, ul {color: darkblue;
		font-size: 1.5em;}
	
	img.gems {float: left;
			padding: 0 198px;
			margin: 0}
	
	P.info {float: left;
			padding: 0 160px;
			text-align: center;
			color: darkblue;
			font-size: 1.1em;
			border-style: solid;}

	ul li {list-style-image: url(images/hopebullet.gif)}