@charset "utf-8";
/* Tutorial 5 Tutorial
	Josh Barron
	4/5/18*/

/*body*/
body {background-color: darkslategray;
	background-image: url(images/grey_texture.jpg);
	color: white;
	font-size: 1.1em;
	font-family: Verdana, sans-serif;}

/*headings*/
h1 {background-color: black;
	margin: 0 0 0 10px;
	padding: 4px;
	 text-align: center;}

h2 {background-color: gray;
	margin: 10px 0 0 10px;
	padding: 4px;
	text-align: center;}

h3 {border-bottom: solid thick darkkhaki;
	padding-bottom: 0.5em;}

h4 {background-image: url(images/green_linen.jpg);
	background-color: yellow;
	display: inline;
	padding: 4px;
	color: black;}

/*img*/
img {float: left;
	margin: 0 10px 10px 0;}
		
/*float rirght*/
img.right {border: double thick black;
			float: right;
			margin: 10px 0 10px 10px;}
		
/*clear*/
.clear {clear: both;}
		
/*footer*/
footer {background-image: url(images/green_linen.jpg);
		background-color: yellow;
		color: black;
		text-align: center;
		fint-size: 1.1em;
		display: block;}

/*links*/
a:link {color: orange;
		text-decoration: none;}
a:hover {color: black;
			background-color: darkkhaki;
			text-decoration: underline;}
a:visited {color:maroon;}
		
		

